:host {
  font-family: Montserrat;

  .additional-feature-container {
    position: absolute;
    padding: 1.25rem;

    h1 {
      color: #001c50;
    }
    .badge-active {
      background-color: #02ce5b;
      color: #ffffff;
      font-size: 16px;
      line-height: 1.1;
    }
    .btn-danger {
      background-color: #ff4646;
      border-color: #ff4646;
      width: fit-content;
    }
    .btn-danger:hover {
      background-color: #c82333;
      border-color: #bd2130;
    }
    .container {
      padding: 1.25rem;
    }

    .features-border {
      border: 1px solid #dddddd;
      border-radius: 5px;
    }
    .feature-container {
      border-bottom: 1px solid #dddddd;
      padding: 15px;
    }
    .feature-name {
      padding-top: 0 !important;
      font-family: Roboto;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.2;
      color: #373a3c;
    }
    .feature-price {
      font-family: Roboto;
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: #008ee2;
    }
    .feature-options {
      width: 60%;
    }
    .selected-features {
      width: 40%;
      .card {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        border-radius: 5px;
        .card-header {
          background-color: #001151;
          color: #ffffff;
          padding: 2.25rem;

          div {
            padding: 5px 0;
          }
          hr {
            background-color: #3e57b4;
            height: 1px;
          }

          .price {
            div {
              padding: 0;
            }
            .time {
              color: #ffffff;
              font-family: Roboto;
              font-size: 18px;
              line-height: 1.22;
            }
            .value {
              color: #2699fb;
              font-size: 38px;
              line-height: 1;
            }
          }
        }
        .card-text {
          font-family: Roboto;
          font-size: 16px;
          font-weight: bold;
        }
      }
      .btn-success {
        background-color: #02ce5b;
        border-color: #02ce5b;
        margin-top: 23px;
        width: 100%;
      }
      .btn-success:hover {
        background-color: #28a745;
        border-color: #28a745;
      }
    }
  }

  .options {
    padding-bottom: 5px;
    span {
      font-family: Roboto;
      font-size: 20px;
      font-weight: 300;
      transition: all 0.2s;
      margin: 0 5px;
      padding: 0 0.75rem;
      cursor: pointer;
      border-radius: 9px;
    }
    span:hover {
      transition: all 0.2s;
      background-color: #001151;
      color: #ffffff;
    }
    .active {
      font-weight: bold;
    }
  }

  .ellipse {
    min-width: 92px;
    min-height: 92px;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    color: #ffffff;
    background-color: red;
  }

  [class^="ellipse-gym"] {
    background-color: #dc3c5d;
  }

  [class^="ellipse-default"] {
    background-color: #25849c;
  }

  [class^="ellipse-cloud"] {
    background-color: #4ad870;
  }

  input[type="checkbox"]:checked + label:before {
    background-color: #02ce5b;
    border-color: #02ce5b;
    color: #ffffff;
  }
  input[type="checkbox"]:enabled + label:after {
    cursor: pointer;
  }
  input[type="checkbox"]:disabled + label:before {
    background-color: #dddddd;
    border-color: transparent;
  }
  input[type="checkbox"]:disabled + label:after {
    cursor: not-allowed;
  }

  [data-toggle="collapse"] .fas {
    transition: 0.3s transform ease-in-out;
  }

  [data-toggle="collapse"].collapsed .fas {
    transform: rotate(-180deg);
  }

  .collapse-button {
    color: #707070;
    font-family: Roboto;
    font-size: 18px;
    line-height: 1.22;
    padding: 25px 1.25rem;
  }

  .collapse-button:hover,
  .collapse-button:focus {
    text-decoration: none;
  }

  .additional-features {
    padding-left: 3.25rem;
    padding-right: 3.25rem;
    i {
      color: #02ce5b;
    }
    .additional-feature-description {
      padding-left: 10px;
    }
  }
}
