<div class="d-flex justify-content-between w-100 additional-feature-container">
  <div class="feature-options container">
    <h1 class="d-flex flex-row">Funcionalidades Adicionais</h1>

    <div class="d-flex flex-row">
      <div class="d-flex justify-content-start options">
        <span [ngClass]="{ active: !active }" (click)="changeActive(false)">Todas</span>
        <span [ngClass]="{ active: active }" (click)="changeActive(true)">Ativas</span>
      </div>
    </div>

    <div class="features-border">
      <div *ngFor="let feature of features">
        <div class="d-flex justify-content-between feature-container">
          <div class="d-flex">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                [checked]="feature.active"
                [disabled]="feature.active"
                class="custom-control-input"
                id="feature-{{ feature.id }}"/>
              <label
                class="custom-control-label"
                for="feature-{{ feature.id }}"></label>
            </div>
          </div>

          <div>
            <div class="d-flex flex-row">
              <div class="d-flex flex-column">
                <div class="p-2 feature-name">
                  {{ feature.name }}
                  <span
                    *ngIf="feature.active"
                    class="badge badge-pill badge-active">Ativa</span>
                </div>
                <div class="p-2">{{ feature.description }}</div>
                <div class="p-2">
                  <div class="feature-price" *ngIf="!feature.active">
                    R$ {{ feature.price }} por mês
                  </div>
                  <button
                    type="button"
                    *ngIf="feature.active"
                    class="btn btn-danger">
                    Cancelar Feature
                  </button>
                </div>
              </div>
              <div class="ellipse-{{feature.type}} ellipse circle align-self-center d-flex align-items-center justify-content-center">
                <i class="{{ feature.icon }}"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="selected-features container">
    <div class="card">
      <div class="card-header card-text">
        <div class="d-flex justify-content-between">
          <span>Valor do seu Plano</span> <span>$80/month</span>
        </div>
        <div class="d-flex justify-content-between">
          <span>Domain name</span> <span>$9/month</span>
        </div>
        <div class="d-flex justify-content-between">
          <span>Funcionalidades</span> <span>$9/month</span>
        </div>
        <hr />
        <div class="d-flex justify-content-between price">
          <span>TOTAL</span>
          <div class="d-flex flex-column">
            <div class="value d-flex justify-content-end">$98</div>
            <div class="time d-flex justify-content-end">Per month</div>
          </div>
        </div>
      </div>
      <div id="accordion" class="card">
        <div class="" id="headingOne">
          <h5 class="mb-0">
            <button
              class="btn btn-link collapsed d-flex w-100 justify-content-between collapse-button"
              data-toggle="collapse"
              data-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne">
              <span>Funcionalidades adicionais</span>
              <i class="fas fa-chevron-up" aria-hidden="true"></i>
            </button>
          </h5>
        </div>

        <div
          id="collapseOne"
          class="collapse"
          aria-labelledby="headingOne"
          data-parent="#accordion">
          <div class="card-text additional-features">
            <div *ngFor="let feature of additionalFeatures">
              <div class="d-flex w-100 justify-content-between">
                <i class="fa fa-check"></i>
                <div class="w-100 additional-feature-description"> 
                  {{ feature.description }} 
                  <hr />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-success">
      Adicionar funcionalidades
    </button>
  </div>
</div>
