:host {
    .fix-height {
        height: 100vh;
    }
    .card {
        width: 549.3px;
        font-family: Montserrat;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    }

    .container-card-image {
        max-height: 160px;
        position: relative;
        text-align: center;

        .platform-name {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: -webkit-fill-available;
            color: #FFFFFF;
            font-size: 33px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.21;
            letter-spacing: normal;
        }
    }

    .card-body {
        background-color: #170054;
        color: #FFFFFF;
        z-index: 1;
        padding-left: 0;
        padding-right: 0;

        .fix-padding {
            padding-left: 1.25rem;
            padding-right: 1.25rem;
        }
        
        .plan-name {
            font-size: 19px;
            font-weight: 600;
            color: #FFFFFF;
        }

        .plan-value {
            padding: 0 10px;
            font-size: 22px;
            font-weight: 800;
            color: #008ee2;
        }

        .plan-time {
            font-size: 13px;
            line-height: 1.23;
            text-align: center;
        }

        .plan-update {
            background-color: #02ce5b;
        }

        .plan-update:hover {
            background-color: #218838;
            border-color: #1e7e34;
        }

        hr {
            background-color: #f0f0f0;
            opacity: 0.12;
        }
    }

    .aditional-feature-text {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        text-align: left;
        color: #707070;
    }

    .features {
        padding-left: 3.25rem;
        padding-right: 3.25rem;
        i {
            color: #02ce5b;
        }
    }

    .additional-features {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }

    .manage-button {
        background-color: #008ee2;
        border-color: #008ee2;
    }

    .manage-button:hover {
        background-color: #0069d9;
        border-color: #0062cc;
    }
}