<div class="d-flex justify-content-center align-items-center fix-height">
  <div class="card">
    <div class="container-card-image">
      <span class="platform-name"> Nome da Plataforma </span>
      <img class="card-img-top" src="assets/13-overlay.jpeg" alt="Card image cap">
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-between fix-padding">
        <div class="d-flex justify-content-start align-items-center">
          <span class="plan-name">SMART USD</span>
          <span class="plan-value">$99</span>
          <span class="plan-time">Per month</span>
        </div>
        <button type="button" class="btn btn-success plan-update">Upgrade</button>
      </div>
      <hr />
      <div class="card-text features">
        <div *ngFor="let feature of features">
          <div>
            <i class="fa fa-check"></i>
            <span> {{ feature.description }} </span>
          </div>
        </div>
      </div>
    </div>
    <div class="list-group list-group-flush">
      <div class="d-flex justify-content-between list-group-item align-items-center">
        <span class="aditional-feature-text">Funcionalidades Adicionais</span>
        <button type="button" class="btn btn-primary ">Gerenciar</button>
      </div>
    </div>
    <div class="list-group list-group-flush features additional-features">
        <div *ngFor="let feature of additionalFeatures">
            <div>
              <i class="fa fa-check"></i>
              <span> {{ feature.description }} </span>
            </div>
          </div>
    </div>
  </div>
</div>