:host {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  #main-container {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 1e-09px;
    #container-for-sidebar-header-and-outlet {
      position: relative;
      width: 100%;
    }
  }
}