<div class="step-indicator">
    <button type="button" class="close close-button" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  
    <button class="button back-tour-button">BACK TO TOUR</button>
    <button class="button choose-plan-button">PICK YOUR PLAN</button>
  </div>