:host {
  .step-indicator {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    max-height: 100%;
    place-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 64px;
    width: 100%;
    z-index: 9998;

    background: #ff8f1ec7;

    .close {
      opacity: 1;
    }

    .button {
      font-family: Roboto,"Helvetica Neue",sans-serif;
      box-sizing: border-box;
      -moz-user-select: none;
      -ms-user-select: none;
      cursor: pointer;
      min-width: 88px;
      line-height: 36px;
      padding: 0 16px;
      border-radius: 2px;
      font-family: Roboto,"Helvetica Neue",sans-serif;
      height: 40px;
      padding: 0 16px;
    }
    .choose-plan-button {
      font-size: 21px;
      font-weight: bold;
      color: white;
      background: #001151;
      border: 2px solid #001151;
    }
    .back-tour-button {
      font-size: 21px;
      font-weight: bold;
      color: white;
      background: #ffffff4d;
      border: 2px solid white;
      margin-right: 30px;
    }

    .close-button {
      position: absolute;
      left: 12px;
      background: transparent;
      border: none;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
