<button type="button" class="btn btn-primary" (click)="goToPage('planUpdateCard')">PlanUpdateCard</button>

<button type="button" class="btn btn-primary" (click)="goToPage('additionalFeatures')">AdditionalFeatures</button>